@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.top-page {
  /* width: 100%; */
  height: 100%;
  /* overflow-x: hidden; */
  background: url(Images/BG1.jpg);
  /* display: flex; */
  /* justify-content: center; */
  padding-left: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  
}

.navi-top {
  list-style: none;
  display: flex;
  column-gap: 15px;
}

.top-menu {
  display: flex;
  padding: 5px 100px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  justify-content: right;
  color: #ffffff;
  background-color: #3e3e3e;
  cursor: pointer;
}

.paragraph {
  display: flex;
  /* justify-content: center; */
  color: #ec4327;
  padding-left: 150px;
  /* background-image: url(Images/BG3.jpg); */
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 0;
}

.main-navbar {
  width: 100%;
}

/* .header-main {
  width: 100%;
} */

/* Header */
/* Side-Menu */
.menu-button {
  top: 20px;
  left: 20px;
  /* width: 26px; */
  /* height: 26px; */
  cursor: pointer;
}

#logo-main {
  /* width: 100%; */
  display: flex;
  justify-content: left;
}

#logo {
  height: 200px;
  top: 5px;
  bottom: 5px;
}

.menu {
  display: flex;
  list-style: none;
  background-color: #ffffff;
  transition: 0.15s;
  justify-content: right;
  align-items: center;
}

.menu-item {
  display: flex;
  padding: 5px 30px;
  color: #f07f7e;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  /* transition-duration: 0.2s;
  margin-left: 63px; */
}

#campaign {
  color: #ec4327;
  border: 5px solid #ec4327;
  cursor: pointer;
  margin-right: 100px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
